$white: #FFFFFF;
$grey: #888888;
$yellow: #F9DA8C;
$blue: #2F86C4;
$bg_blue: #5492A5;
$bg_pink: #E3DCDC;
$button: #27AAE1;
$button_hover: #1565D1;

body {
  background: $white;
  text-align: center;
  font-size: 1em;
}

.index {
  @include span-columns(9);
  @include shift(1.5);
  background-image: -webkit-linear-gradient(top, $bg_blue, $bg_pink);

  @include media($wide-desktop) {
    @include span-columns(6);
    @include shift(3);
  }

  @include media($mobile) {
    @include span-columns(7);
    @include shift(0.5);
  }

  .menu {
    @include fill-parent();
    @include position(absolute, null null null 0);
    background: $white;
    z-index: 100;

    .logo {
      @include position(relative, null null null null);
      @include size(100px auto);
      @include margin(15px 0 15px 0);
      @include transition(all 0.2s ease);
      z-index: 100;
      -webkit-animation-name: logo;
      -webkit-animation-duration: .9s;

      @-webkit-keyframes logo {
        from {
          -webkit-transform: scale(0);
          opacity: 0;
        }
        50% {
         -webkit-transform: scale(0);
         opacity: 0;
        }
        82.5% {
          -webkit-transform: scale(1.03);
          -webkit-animation-timing-function: ease-out;
          opacity: 1;
        }
        to {
          -webkit-transform: scale(1);
        }
      }
    }
  }

  .hero {
    @include size(100% auto);
    @include margin(75px 0 25px 0);
    visibility: hidden;
    -webkit-animation-name: hero;
    -webkit-animation-duration: .9s;
    -webkit-animation-delay: .3s;
    -webkit-animation-fill-mode: forwards;

    @-webkit-keyframes hero {
      from {
        -webkit-transform: scale(0);
        opacity: 0;
      }
      50% {
       -webkit-transform: scale(0);
       opacity: 0;
      }
      82.5% {
        -webkit-transform: scale(1.03);
        -webkit-animation-timing-function: ease-out;
        opacity: 1;
      }
      to {
        -webkit-transform: scale(1);
        visibility: visible;
      }
    }

    #info-carousel {
      height: auto;
      min-height: 300px;
      max-height: 300px;
      background: $white;

      @include media($mobile) {
        min-height: 600px;
      }

      .section {
        @include margin(0 0 2em);
        text-align: left;

        .section-image {
          @include span-columns(5 of 12);
          max-height: 300px;
          max-width: 300px;

          @include media($mobile) {
            @include span-columns(6);
            @include shift(1);
          }
        }

        .text-wrapper {
          @include span-columns(6 of 12);
          margin-top: 30px;

          @include media($mobile) {
            @include span-columns(6);
            @include shift(1);
            margin-top: 0px;
          }

          .section-heading {
            font-size: 2.5rem;
            font-weight: bold;
            color: $blue;
          }

          .section-text {
            font-size: 1.1rem;
          }
        }
      }

      nav {
        .carousel-control {
          background: none;

          .glyphicon {
            position: absolute;
            top: 50%;
            z-index: 5;
            display: inline-block;
          }
        }

        .left {
          left: -110px;

          @include media($mobile) {
            width: auto;
            left: -23px;
          }
        }

        .right {
          right: -110px;

          @include media($mobile) {
            width: auto;
            right: -3px;
          }
        }
      }

      .carousel-indicators {
        .active {
          background: $blue;
        }

        li {
          border: 1px solid $blue;
          @include size(7px 7px);
          @include margin(0 1px);
        }
      }
    }
  }

  .sub-hero {
    @include size(100% 110px);
    @include position(relative, 0 null null 0);
    @include margin(0 0 0 0);
    background: $yellow;
    visibility: hidden;
    -webkit-animation-name: sub-hero;
    -webkit-animation-duration: .9s;
    -webkit-animation-delay: .6s;
    -webkit-animation-fill-mode: forwards;

    @-webkit-keyframes sub-hero {
      from {
        -webkit-transform: scale(0);
        opacity: 0;
      }
      50% {
       -webkit-transform: scale(0);
       opacity: 0;
      }
      82.5% {
        -webkit-transform: scale(1.03);
        -webkit-animation-timing-function: ease-out;
        opacity: 1;
      }
      to {
        -webkit-transform: scale(1);
        visibility: visible;
      }
    }

    @include media($mobile) {
      height: 190px;
    }

    .hero-text {
      @include span-columns(10);
      @include shift(1);
      @include padding(5vh 0 0 0);
      font-size: 3.5rem;
      color: #0e679e;

      @include media($mobile) {
        @include padding(25vh 0 0 0);
        @include span-columns(6);
        @include shift(1);
      }
    }

    #mc_embed_signup {
      min-height: 90px;
      @include span-columns(10);
      @include shift(1);
      text-align: left;

      @include media($mobile) {
        margin-top: 5px;
      }

      input {
        border-radius: 0px;
      }

      input[type="email"] {
        border: 2px solid #fff;
        @include transition(all 0.2s ease);
        box-shadow: none;

        &:focus {
          border: 2px solid $blue;
          box-shadow: none;
        }
      }

      #mc_embed_signup_scroll {
        margin-top: 15px;

        .email-field {
          @include span-columns(10 of 12);
          font-size: 1.25rem;
          color: $blue;

          @include media($mobile) {
            @include span-columns(8);
          }

          .promise {
            font-size: 1rem;
            color: $grey;
            font-weight: 100;
            text-align: center;
          }
        }

        .clear {
          text-align: center;
          @include margin(1.75em 0 0 0);
          @include span-columns(2 of 12);

          @include media($mobile) {
            @include span-columns(6);
            @include shift(1);
            margin-top: 0.75em;
          }

          input {
            height: 35px;
            margin-top: 5px;
            float: right;
            background: $button;
            box-shadow: 10px 10px $button_hover;
            @include transition(all 0.25s ease);

            @include media($mobile) {
              float: none;
            }

            &:hover {
              box-shadow: none;
              background: $button_hover;
            }
          }
        }
      }
    }
  }

  .footer {
    @include margin(50px 0 50px 0);
    width: 100%;

    .logo {
      @include size(100px auto);
      @include margin(0 0 5px 0);
    }

    .copyright {
      font-size: .75rem;
    }

    .social-media {
      .social-icons {
        @include size(30px 30px);
        @include padding(4px);
        @include margin(4px 2px);
      }
    }
  }
}
