$white: #FFFFFF;

body {
  background: $white;
  text-align: center;
  font-size: 1em;
}

.index {
  @include span-columns(10);
  @include shift(1);
  background-image: -webkit-linear-gradient(top, #5492a5, #e3dcdc);

  .menu {
    @include fill-parent();
    @include position(absolute, null null null 0);
    background: $white;
    z-index: 100;

    .logo {
      @include position(relative, null null null null);
      @include size(100px auto);
      @include margin(15px 0 15px 30px);
      @include transition(all 0.2s ease);
      float: left;
      z-index: 100;
      -webkit-animation-name: logo;
      -webkit-animation-duration: .9s;

      @-webkit-keyframes logo {
        from {
          -webkit-transform: scale(0);
          opacity: 0;
        }
        50% {
         -webkit-transform: scale(0);
         opacity: 0;
        }
        82.5% {
          -webkit-transform: scale(1.03);
          -webkit-animation-timing-function: ease-out;
          opacity: 1;
        }
        to {
          -webkit-transform: scale(1);
        }
      }

      @include media($mobile) {
        margin-left: 0px;
        float: none;
      }
    }
  }

  .hero {
    @include size(100% 75vh);
    @include margin(75px 0 25px 0);

    #info-carousel {
      height: 75vh;
      min-height: 300px;
      background: $white;

      .carousel-control {
        background: none;
      }
    }
  }

  .sub-hero {
    @include size(100% 25vh);
    @include position(relative, 0 null null 0);
    @include margin(0 0 0 0);
    background: #fed27b;
    min-height: 90px;

    .hero-text {
      @include span-columns(10);
      @include shift(1);
      visibility: hidden;
      @include padding(5vh 0 0 0);
      font-size: 3.5rem;
      color: #0e679e;
      -webkit-animation-name: hero;
      -webkit-animation-duration: .9s;
      -webkit-animation-delay: .3s;
      -webkit-animation-fill-mode: forwards;

      @-webkit-keyframes hero {
        from {
          -webkit-transform: scale(0);
          opacity: 0;
        }
        50% {
         -webkit-transform: scale(0);
         opacity: 0;
        }
        82.5% {
          -webkit-transform: scale(1.03);
          -webkit-animation-timing-function: ease-out;
          opacity: 1;
        }
        to {
          -webkit-transform: scale(1);
          visibility: visible;
        }
      }

      @include media($mobile) {
        @include padding(25vh 0 0 0);
        @include span-columns(6);
        @include shift(1);
      }
    }

    #mc_embed_signup {
      visibility: hidden;
      @include span-columns(10);
      @include shift(1);
      text-align: left;
      -webkit-animation-name: signup;
      -webkit-animation-duration: .9s;
      -webkit-animation-delay: .6s;
      -webkit-animation-fill-mode: forwards;

      @-webkit-keyframes signup {
        from {
          -webkit-transform: scale(0);
          opacity: 0;
        }
        50% {
         -webkit-transform: scale(0);
         opacity: 0;
        }
        82.5% {
          -webkit-transform: scale(1.03);
          -webkit-animation-timing-function: ease-out;
          opacity: 1;
        }
        to {
          -webkit-transform: scale(1);
          visibility: visible;
        }
      }

      @include media($mobile) {
        text-align: center;
      }

      input {
        border-radius: 0px;
      }

      input[type="email"] {
        border: 2px solid #fff;
        @include transition(all 0.2s ease);
        box-shadow: none;

        &:focus {
          border: 2px solid #27aae1;
          box-shadow: none;
        }
      }

      #mc_embed_signup_scroll {
        .email-field {
          @include span-columns(8 of 12);

          .promise {
            font-size: .75rem;
            color: #888;
            font-weight: 100;
            text-align: center;
          }
        }

        .clear {
          text-align: center;
          @include margin(1.75em 0 0 0);
          @include span-columns(4 of 12);

          input {
            background: #27aae1;
            box-shadow: 10px 10px #1565D1;
            @include transition(all 0.25s ease);

            &:hover {
              box-shadow: none;
              background: #1565D1;
            }
          }
        }
      }
    }
  }

  .section-wrapper {
    @include span-columns(8);
    @include shift(2);
    @include position(relative);

    @include media($mobile) {
      @include span-columns(6);
      @include shift(1);
    }

    .section {
      @include position(relative);
      @include margin(0 0 2em);
      text-align: left;

      .section-heading {
        color: #27aae1;
      }
    }
  }

  .footer {
    @include margin(50px 0 50px 0);
    width: 100%;

    .logo {
      @include size(100px auto);
      @include margin(0 0 0 5px);
    }

    .copyright {
      font-size: .75rem;
    }

    .social-media {
      .social-icons {
        @include size(30px 30px);
        @include padding(4px);
        @include margin(4px 2px);
      }
    }
  }
}
