<div id="info-carousel" class="carousel slide" data-ride="carousel" data-interval="16000" data-pause="hover">
  <div class="carousel-inner">
    <div class="section item active">
      <%= image_tag("images/carousel/01_scent.png", class: "section-image") %>
      <div class="text-wrapper">
        <h2 class="section-heading">
          SCENT IS POWERFUL
        </h2>
        <p class="section-text">
          Scent is the strongest sense linked to memory. New research shows it can also alter our mood and behaviors by tapping into strong instincts developed in mammals which are used to find mates, search for food, detect danger, and also, to interact socially. Using these communication aromas, Pheros can develop naturally occuring, safe, and affordable tools that improve social interactions, productivity, and well-being.
        </p>
      </div>
    </div>
    <div class="section item">
      <%= image_tag("images/carousel/02_pheros.png", class: "section-image") %>
      <div class="text-wrapper">
        <h2 class="section-heading">
          WE ARE PHEROS
        </h2>
        <p class="section-text">
          To prove the astounding potential of this new class of pheromone technology, Pheros is ready to produce Focus, a crowdsourced blend of scents that are found on the human body supporting strong and rapid feeling of motivation, wakefulness, and focus. Apply two sprays, like any cologne or perfume, and you can experience several hours of honed-in, innate productivity. When you’re done, simply wash the scent off with soap and water and the effects will end, unlike caffeine or prescription medication. Best of all, our ingredients are Generally Regarded as Safe (GRAS) by the U.S. FDA.
        </p>
      </div>
    </div>
    <div class="section item">
      <%= image_tag("images/carousel/03_goal.png", class: "section-image") %>
      <div class="text-wrapper">
        <h2 class="section-heading">
          THE GOAL
        </h2>
        <p class="section-text">
          Pheros will launch an Indiegogo on April 26, 2017 to produce our first crowdsourced product, Focus. In August 2017, we will begin shipping Focus to backers and begin designing new products designed for social comfort, confidence, and communication. There are currently over 100 potential compounds that humans detect, and we intend to explore them all.
          <br> <br>
          Subscribe to our mailing list and we will let you know when you can back this incredible and safe technology.
        </p>
      </div>
    </div>
    <div class="section item">
      <%= image_tag("images/carousel/04_science.png", class: "section-image") %>
      <div class="text-wrapper">
        <h2 class="section-heading">
          THE SCIENCE
        </h2>
        <p class="section-text">
          Our product has been in development since 2011, but we aren’t alone. The ingredients in Pheros were studied by Harvard Medical Professor Stephen Liberles and Neuroscientist David Ferrero, who noticed mammals would vigilantly respond to certain compounds through a type of receptor in their nose called TAAR. At Pheros, we adapted this research, and many others, to make a completely safe, easy to use, and amazingly effective technology for productivity and focus.
        </p>
      </div>
    </div>
  </div>
  <nav>
    <a class="left carousel-control" href="#info-carousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#info-carousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </nav>
  <ol class="carousel-indicators">
    <li data-target="#info-carousel" data-slide-to="0" class="active"></li>
    <li data-target="#info-carousel" data-slide-to="1"></li>
    <li data-target="#info-carousel" data-slide-to="2"></li>
    <li data-target="#info-carousel" data-slide-to="3"></li>
  </ol>
</div>
