<footer class="footer">
  <%= image_tag("images/icons/pheros_logo.png", class: "logo") %>
  <p class="copyright">© Copyrighted by Pheros, Inc. 2016</p>
  <div class="social-media">
    <a href="mailto:support@pheros.co">
      <%= image_tag("images/icons/envelope_icon.svg", class: "social-icons") %>
    </a>
    <a href="https://www.instagram.com/pheros_co/" target="_blank">
      <%= image_tag("images/icons/instagram_icon.svg", class: "social-icons") %>
    </a>
  </div>
</footer>
